@font-face {
    font-family: "DeltaTour";
    src: url("../assets/fonts/delta-tour.ttf") format("truetype");
}
@font-face {
    font-family: "Helvetica-Light";
    src: url("../assets/fonts/helvetica-light.otf") format("truetype");
}
@font-face {
    font-family: "mftm";
    src: url("../assets/fonts/mftm.ttf") format("truetype");
}
@font-face {
    font-family: "Martyr";
    src: url("../assets/fonts/martyr.ttf") format("truetype");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
}

:root {
    font-size: 1rem;
    color: white;
    font-family: "Helvetica-Light", "DeltaTour", "mftm", sans-serif;
}

body {
    background: linear-gradient(
            to bottom,
            rgba(255, 255, 255, 0.15) 0%,
            rgba(0, 0, 0, 0.15) 100%
        ),
        radial-gradient(
                at top center,
                rgba(255, 255, 255, 0.4) 0%,
                rgba(0, 0, 0, 0.4) 120%
            )
            #989898;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center; /* Centra verticalmente */
    align-items: center; /* Centra horizontalmente */
}

main {
    flex-grow: 1;
    overflow-y: auto;
    padding: 20px;
    display: flex;
    width: 100%;
    max-width: 1200px;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
    font-family: "Helvetica-Light";
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 1rem;
}

h3 {
    font-family: "DeltaTour";
}

h4 {
    font-family: "Martyr";
    font-size: 25px;
}

p {
    font-family: "mftm";
}

.thanks {
    margin-bottom: 50px;
}
