.link-to-post {
    text-decoration: none;
    color: inherit;
}

.all-posts {
    margin: 0 auto;
    padding: 1.5rem;
    width: 100%;
}

.preview-post {
    border: 2px solid transparent;
    border-image: linear-gradient(#171618, #fcc23f);
    border-image-slice: 1;
    padding: 0.5rem;
    margin-bottom: 3rem;
}

.post-title {
    text-align: center;
    font-size: 1.5rem;
    margin: 0.3rem;
}

.post-date {
    font-size: 0.5rem;
    text-align: right;
}

.post-description {
    margin-left: 0;
}

.preview-post,
.unique-post-detail,
.link-to-post {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    overflow: auto;
}

.post-images {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    justify-items: center;
    gap: 20px;
}

.image-preview,
.every-post-image {
    max-width: 100%;
    align-self: center;
}

.post-description {
    white-space: pre-line;
    margin-bottom: 2rem;
}

.image-container {
    margin-bottom: 2rem;
}

@media screen and (min-width: 600px) {
    .all-posts {
        padding: 1.5rem 3rem 3rem 3rem;
    }
}
